.login-form{
    width: 30%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.6);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.submit-btn{
    background: rgba(96, 96, 96, 0.7);
    border: 0;
    color: white;
}
.submit-btn:hover{
    background: rgba(96, 96, 96, 1);
}

.login-form h3{
    margin-top: 15px;
    text-align: center;
}
@media screen and (max-width:780px) {
    .login-form{
        width: 40%;
    }
}
@media screen and (max-width:640px) {
    .login-form{
        width: 50%;
    }
}